
@if(assignmentTransmis){
    <h2>Details de l'assignment</h2>
    <mat-card>
        <mat-card-content>
            <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
            <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions class="container">
            @if(!assignmentTransmis.rendu){
                <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
            }
            <nav>
                <a routerLink='/assignment/{{assignmentTransmis._id}}/edit'>
                    <button mat-raised-button color="primary" 
                    [disabled]="!isAdmin()" > 
                        Modifier
                    </button>
                </a>
            </nav>
            <button mat-raised-button color="warn"
            (click)="onDeleteAssignment()"
            [disabled]="!isAdmin()"> 
            Supprimer</button>
        </mat-card-actions>
      </mat-card>
}
