.rendu{
    color:green;
}
.nonRendu{
    color: red;
    background-color: beige;
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
}
.btnAjout{
    align-self: flex-end;
}
.demo-table {
    width: 100%;
}